@font-face {
  font-family: "Fira";
  src: url("./fonts/Fira_Code/static/FiraCode-Bold.ttf") format("truetype");
  src: url("./fonts/Fira_Code/static/FiraCode-Light.ttf") format("truetype");
  src: url("./fonts/Fira_Code/static/FiraCode-Medium.ttf") format("truetype");
  src: url("./fonts/Fira_Code/static/FiraCode-Regular.ttf") format("truetype");
  src: url("./fonts/Fira_Code/static/FiraCode-SemiBold.ttf") format("truetype");
}

:root {
  --font-family: "Fira";
  --h1-font-size: 42px;
  --heading-font-size: 20px;
  --h2--font-size: 28px;
  --input-font-size: 10px;
  --preview-font-size: 10px;

  --header-font-color: blue;
  --header-font-size: 30px;
  --header-font-family: "Fira";
  /* --header-font-weight: 100; */

  font-family: var(--font);
}

.header {
  /* color: yellow; */
  display: flex;
  gap: 25px;
  color: var(--header-color);
  font-size: var(--header-font-size);
  font-family: var(--header-font-family);
}

.end {
  display: grid;
  color: var(--header-color);
  font-size: var(--header-font-size);
  font-family: var(--header-font-family);
  justify-content: right;
  /* background-color: #181a1b; */
  /* height: 150px; */
  align-items: end;
  /* font-weight: var(--header-font-weight); */
  /* color: var(--h1-color);
  font-size: var(--h1-font-size);
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight); */
}

.input-section {
  display: grid;
  max-width: 500px;
  background-color: #181a1b;
  justify-self: center;
  width: 100%;
  padding: 20px 15px;
  gap: 20px;
  border-radius: 12px;
}

.preview-section {
  background-color: rebeccapurple;
  padding: 10px 25px;
}

.preview-section-content {
  background-color: red;
  padding-left: 20px;
  padding-top: 5px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.input-form {
  display: grid;
  gap: 12px;
}

i {
  font-weight: bold;
  font-size: 12px;
  padding-left: 8px;
}

h2 {
  font-size: 28px;
}

.carrot {
  font-size: 32px;
}

input {
  background-color: #1e2022;
  height: 40px;
  border-radius: 8px;
}

label {
  display: grid;
  gap: 5px;
}
